<header class="header">
  <div class="container">
    <div class="header__container">
      <a class="header__logo"><img src="../../img/header/Logo.png" alt="logo"></a>

      <div class="burger-wraper">
        <button class="burger" id="burger" aria-label="Open menu">
          <span></span><span></span><span></span>
        </button>
      </div>

      <div class="nav-wraper">
        <nav class="nav" id="nav">
          <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="index.html">Home</a></li>
            <li class="nav__item"><a class="nav__link" href="about.html">About</a></li>
            <li class="nav__item"><a class="nav__link" href="team.html">Team</a></li>
            <li class="nav__item"><a class="nav__link" href="process.html">Process</a></li>
            <li class="nav__item"><a class="nav__link" href="pricing.html">Pricing</a></li>
            <li class="nav__item"><a class="nav__link" href="blog.html">Blog</a></li>
            <li class="nav__item"><a class="nav__link nav__btn" href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
