@use "variables";
@use "mixins";

.blog {
  &__tabs {
  }

  &__tabs-nav {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    background-color: variables.$green20;
    margin-bottom: 50px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tab {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
    background-color: transparent;
    border: none;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    padding: 12px 20px;
    cursor: pointer;
    &.active {
      background-color: variables.$green25;
      border: 1px solid #fff;
      border-radius: 10px;
    }
  }

  &__posts {
    padding: 20px;
    background-color: variables.$fon-green95;
    border: 1px solid variables.$fon-green85;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
  }

  &__post {
    margin-bottom: 30px;
  }

  &__post-category {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: variables.$grey;
    border-bottom: 2px solid variables.$green70;
    display: inline-block;
    margin-bottom: 30px;
    padding-bottom: 5px;
  }

  &__post-img {
    margin-bottom: 30px;
    border-radius: 10px;
  }

  &__post-info {
    padding: 10px;
  }

  &__post-left {
  }

  &__post-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: variables.$dark-grey;
    margin-bottom: 8px;
  }

  &__post-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 35px;
  }

  &__post-btn {
    padding: 14px 20px;
    background-color: variables.$green70;
    border-radius: 10px;
   white-space: nowrap;
  }
}


@media (min-width: 768px) {
  .blog {
   &__post{
       border: 1px solid variables.$fon-green85;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 0;
   }
   &__post-info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
   }
   &__post-img{
       display: block;     // робимо блочним
  margin-left: auto;  // автоматично відсуває вправо
  margin-right: 0;
   }
    &__posts {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    &__post-text{
margin-bottom: 0;
    }
  }
}
