@use "variables";
@use "mixins";
.coach {
  margin-bottom: 50px;
  position: relative;
  &__wraper {
    display: grid;
    grid-template-areas:
      "happy"
      "face"
      "info";
    text-align: center;
    margin-top: 50px;
  }

  &__face {
    grid-area: face;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // масштабує, не спотворюючи пропорції
      object-position: center; // центрує зображення
      display: block;
    }
  }

  &__info {
    grid-area: info;
    display: grid;
    grid-template-areas:
      "happy"
      "subtitle"
      "title"
      "text"
      "btn";
    text-align: center;
    padding: 0 16px;
  }

  &__subtitle {
    display: inline-block;
    justify-self: center;
    font-size: 18px;
    font-weight: 600;
    color: variables.$green;
    padding-bottom: 2px;
    border-bottom: 2px solid variables.$light-green;
    max-width: 100%;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 16px;
    color: variables.$green;
  }

  &__text {
    @include mixins.text(16px, variables.$green, 500); // працює
    margin-bottom: 30px;
  }

  &__btn-started {
    padding: 14px 16px;
    background-color: variables.$light-green;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 14px;
  }

  &__btn-book {
    border: none;
    background-color: #f6fbe9;
    padding: 14px 20px;
    border: 1px solid variables.$light-green;
    border-radius: 10px;
  }

  &__happy {
    grid-area: happy;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
    z-index: 100;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border: 2px solid variables.$light-green;
    border-radius: 50px;
    background-color: #fafdf2;
    margin-bottom: 10px;
  }

  &__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -12px;
    &:first-child {
      margin-left: 0;
    }
  }

  &__avatar-text {
    font-size: 16px;
    span {
      color: #468671;
    }
    margin-bottom: 30px;
  }
}


.features {
  margin-bottom: 10px;
  padding: 0 16px;

  &__box {
  }



  &__title {
    @include mixins.title-top;
    text-align: center;
    margin-bottom: 10px;
  }



  &__subtitle {
    @include mixins.subtitle;
    text-align: center;
    margin-bottom: 50px;
  }

  // .features__items

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  // .features__item

  &__item {
    background-color: variables.$fon-green95;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid variables.$fon-green85;
  }

  // .features__item-top

  &__item-top {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  // .features__item-top-img

  &__item-top-img {
    width: 48px;
    height: 48px;
    background-color: variables.$light-green;
    padding: 12px;
    border-radius: 10px;
    margin-right: 10px;
  }

  &__item-top-title {
    height: 18px;
    font-family: "Urbanist", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: variables.$dark-grey;
  }



  &__item-bottom {
  }



  &__item-bottom-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: variables.$grey;
  }
}

.blog {
  padding: 0;
  &__wrapper {
    padding: 0 16px;
  }

  &__title {
    @include mixins.title-top;
    text-align: center;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include mixins.subtitle;
    text-align: center;
    margin-bottom: 50px;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__item {
    padding: 24px;
    background-color: variables.$fon-green95;
    text-align: center;
    border: 1px solid variables.$fon-green85;
    border-radius: 10px;
  }

  &__item-img {
    margin-bottom: 20px;
  }

  &__item-info {
    text-align: start;
  }

  &__item-subtitle {
    font-family: "Urbanist", sans-serif;
    font-size: 14px;
    line-height: 150%;
    color: variables.$grey;
    margin-bottom: 4px;
  }

  &__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 18px;
    color: variables.$dark-grey;
  }

  &__item-text {
    font-size: 14px;
    line-height: 150%;
    color: variables.$grey30;
    margin-bottom: 18px;
  }

  &__item-user {
    text-align: start;
    background-color: variables.$green97;
    padding: 16px 18px;
    border: 1px solid variables.$green90;
    border-radius: 10px;
  }

  &__item-user-inner {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__item-user-img {
    margin-right: 10px;
  }

  &__item-user-info {
  }

  &__item-user-person {
  }

  &__item-user-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: variables.$green;
  }

  &__item-user-date {
    font-size: 14px;
    line-height: 150%;
    color: #59595a;
  }

  &__item-user-logo {
    display: flex;
    justify-content: flex-end;
  }

  &__item-user-logosvg {
    padding: 14px;
    background-color: variables.$fon-green95;
    border: 1px solid variables.$green90;
    border-radius: 10px;
    margin-left: 8px;
    cursor: pointer;
  }
}
.testimonials {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  &__title {
    @include mixins.title-top;
    text-align: center;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include mixins.subtitle;
    text-align: center;
    margin-bottom: 50px;
  }

  &__section {
    width: 100%;
  }

  &__slider {
    overflow: hidden;
  }

  &__track {
    display: flex;
    transition: transform 0.5s ease;
    will-change: transform;
    gap: 16px;
  }

  &__item {
    padding: 30px 30px 0px 30px;
    border: 1px solid variables.$green90;
    border-radius: 10px;
    flex: 0 0 100%;
    box-sizing: border-box;
  }

  &__item-krap {
    margin-bottom: 46px;
  }

  &__item-text {
    color: variables.$grey;
    line-height: 150%;
    margin-bottom: 30px;
  }

  &__item-person {
    display: flex;
    align-items: center;
    padding: 30px 20px;
    background-color: variables.$fon-green95;
    border: 1px solid variables.$green90;
  }

  &__item-photo {
    margin-right: 10px;
  }

  &__item-names {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: variables.$green;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
  }

  &__arrow {
    border: none;
    padding: 10px;
    background-color: variables.$fon-green95;
    border: 1px solid variables.$green90;
    border-radius: 10px;
    cursor: pointer;
  }

  &__arrow--prev {
    cursor: pointer;
  }

  &__dots {
    display: flex;
    gap: 6px;
    .testimonials__dot {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: variables.$fon-green85;
      transition: background-color 0.3s ease;
      &.active {
        background-color: variables.$green;
      }
    }
  }

  &__arrow--next {
    cursor: pointer;
  }
}

.pricing {
  &__wrapper {
   text-align: center;
  }

  &__title {
    @include mixins.title-top;
    text-align: center;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include mixins.subtitle;
    text-align: center;
    margin-bottom: 50px;
  }

  &__toggle {
   padding: 10px;
   border: 1px solid variables.$green90;
   border-radius: 10px;
  display: flex;
    justify-content: center;
    gap: 12px;
    max-width: 210px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__btn {
   padding: 10px 24px;
   border-radius: 15px;
   background-color: transparent;
   border: none;
   cursor: pointer;
font-weight: 600;
font-size: 14px;
line-height: 150%;

   &.active{
      background-color: variables.$green25;
      color: #fff;
   }
  }


  &__cards {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  align-items: stretch;
  }

  &__cart {
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%; // або конкретно: min-height: 600px;
  height: 100%;
   text-align: start;
    padding: 30px;
    background-color: variables.$fon-green95;
    border: 1px solid variables.$green90;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  &__cart-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    color: variables.$dark-grey;
  }

  &__cart-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: variables.$grey30;
    margin-bottom: 40px;
  }

  &__cart-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: variables.$dark-grey;
    margin-bottom: 40px;
  }

  &__cart-cost {
    font-weight: 700;
    font-size: 50px;
    line-height: 87.52%;
    color: variables.$green25;
    margin-bottom: 33px;
  }


  &__cart-btn {
    background-color: variables.$light-green;
    display: inline-block;
    padding: 18px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
  }
}


@media (min-width: 768px) {
  .coach {
    &__wraper {
      grid-template-areas: "face info";
      grid-template-columns: 1fr 1fr;
      align-items: center;
      text-align: start;
      padding-top: 76px;
      margin-top: 0px;
      color: variables.$dark-grey;
    }
    &__face {
      margin-right: 40px;
    }
    &__subtitle {
      display: inline-block;
      justify-self: start;
      font-size: 18px;
      font-weight: 600;
      color: variables.$green;
      padding-bottom: 2px;
      border-bottom: 2px solid variables.$light-green;
      max-width: 100%;
      white-space: nowrap;
      margin-bottom: 10px;
    }
    &__title {
      font-size: 48px;
    }
    &__info {
      grid-template-areas:
        "subtitle"
        "title"
        "text"
        "btn"
        "happy"; // переносимо вниз
      text-align: start;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    &__happy {
      grid-area: happy;
      display: flex;
      flex-direction: row;
      margin-top: 0px;
    }
    &__avatar {
      margin-right: 6px;
    }
    &__avatar-text {
      margin-bottom: 0;
    }
    &__btn {
      margin-bottom: 50px;
    }
  }

  .features {
    margin-bottom: 60px;
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }
    }
    &__item-top-img {
      width: 54px;
      height: 54px;
      background-color: variables.$light-green;
      padding: 12px;
      border-radius: 10px;
      margin-right: 10px;
    }
    &__item-top-title {
      height: 20px;
    }
  }
  .blog {
    margin-bottom: 100px;
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }
    }
    &__item-user {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__item-user-logo {
      display: flex;
      justify-content: center;
    }
  }
  .testimonials {
    margin-bottom: 100px;
    &__item {
      flex: 0 0 calc(50% - 8px);
    }
  }
  .pricing{
   margin-bottom: 100px;
   &__cards{
      grid-template-columns: repeat(3, 1fr);
      
   }
&__cart{
   padding: 40px;  
}
  }
}
@media (min-width: 1024px) {
  .testimonials {
    &__item {
      flex: 0 0 calc(33.3333% - 10.66px);
    }
  }
}
