@use "variables";
@use "mixins";

.footer {
  background-color: variables.$green;
  color: #fff;
  &__wraper {
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    gap: 20px;
  }

  &__nav-img {
    order: 1;
    margin-bottom: 20px;
  }

  &__nav-list {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    align-items: center;
    gap: 12px;
  }

  &__nav-item {
    &:hover {
      color: variables.$light-green;
    }
  }

  &__nav-link {
  }

  &__nav-gotop {
    order: 2;
    margin-left: auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    margin-left: auto;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 20px;
    cursor: pointer;
    span {
      margin-right: 6px;
    }
    img {
      padding: 6px;
      background-color: variables.$green25;

      border-radius: 50%;
    }
  }

  &__info {
    padding: 20px;
    background-color: variables.$green25;
    border-radius: 10px;
  }

  &__contact {
  }

  &__contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
  }

  &__contact-item {
    display: flex;
    border: 1px solid variables.$green20;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
  }

  &__contact-img {
    margin-right: 4px;
  }

  &__contact-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    ow: 0;
  }

  &__info-pext {
  }
}

@media (min-width: 717px) {
  .footer {
    background-color: variables.$green;
    color: #fff;
    &__wraper {
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
    }

    &__nav-img {
      order: 1;
      margin-bottom: 0px;
    }

    &__nav-list {
      display: flex;
      flex-wrap: wrap;
      order: 2;
      align-items: center;
      gap: 12px;
    }

    &__nav-item {
      &:hover {
        color: variables.$light-green;
      }
    }

    &__nav-link {
    }

    &__nav-gotop {
      order: 3;
      margin-left: 0;
      margin-bottom: 0px;
      cursor: pointer;
    }

    &__info {

    }

    &__contact {
    }

    &__contact-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      margin-bottom: 20px;
    }

    &__contact-item {
      display: flex;
      border: 1px solid variables.$green20;
      border-radius: 10px;
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 12px 0;
    }

    &__contact-img {
      margin-right: 4px;
    }

    &__contact-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }

    &__info-pext {
    }
  }
}
@media (min-width: 1000px){
   .footer {
    background-color: variables.$green;
    color: #fff;
    &__wraper {
    }

    &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
    }

    &__nav-img {
      order: 1;
      margin-bottom: 0px;
    }

    &__nav-list {
      display: flex;
      flex-wrap: nowrap;
      order: 2;
      align-items: center;
      gap: 12px;
    }

    &__nav-item {
      &:hover {
        color: variables.$light-green;
      }
    }

    &__nav-link {
    }

    &__nav-gotop {
      order: 3;
      margin-left: 0;
      margin-bottom: 0px;
      cursor: pointer;
    }

    &__info {
padding: 0;
    }

    &__contact {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 10px;
      gap: 12px;
    }

    &__contact-list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      margin-bottom: 0px;
    }

    &__contact-item {
      display: flex;
      border: 1px solid variables.$green20;
      border-radius: 10px;
      min-width: 210px;
      align-items: center;
      justify-content: center;
      padding: 12px 5px;
    }

    &__contact-img {
      margin-right: 4px;
    }

    &__contact-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      white-space: nowrap;
    }

    &__info-pext {
    }
  }
}
