@use 'variables';
// global
*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #FAFDF2;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main {
  flex: 1; // головний контент займає весь простір

}
footer {
  padding: 20px;
  background-color: #f5f5f5; // базовий фон, можна змінити під дизайн
}

