

$accent: #2b8a3e;
$light-green : #CBEA7B;
$green: #1A3129;  
$grey:#333333;
$dark-grey: #262626;
$fon-green85: #E5F5BD;
$green90: #EEF8D3;
$fon-green95: #F6FBE9;
$green97: #FAFDF2;
$grey30: #4C4C4D;
$green25: #2C5446;
$green20: #234338;
$green70: #CBEA7B;
$green80: #DCF1A7;
$green20: #234338;





